



<app-navbar2 class="navbar"> </app-navbar2>


<div class="hidden" id="nolezioni">
    <mat-card class="distanziamento">
      <mat-card-content><p><br>NON HA NESSUNA PRENOTAZIONE </p></mat-card-content>
    </mat-card>
  </div>

<div style="margin-top: 64px;">
    <table mat-table [dataSource]="righe" id = "myTable" class="hidden" >
        <!-- Definizione delle colonne -->
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let righe"> {{ righe.data }} </td>
        </ng-container>
        
        <ng-container matColumnDef="allievo">
          <th mat-header-cell *matHeaderCellDef> Allenatore </th>
          <td mat-cell *matCellDef="let righe"> {{ righe.allievo }} </td>
        </ng-container>
        
        <ng-container matColumnDef="ora">
          <th mat-header-cell *matHeaderCellDef> Ora </th>
          <td mat-cell *matCellDef="let righe"> {{ righe.orario }} </td>
        </ng-container>

        <ng-container matColumnDef="cancella">
          <th mat-header-cell *matHeaderCellDef> Prenota </th>
          <td mat-cell *matCellDef="let righe; let i = index">
          <button mat-button (click)="cancellaPrenotazione(righe, i)"> Cancella Prenotazione </button>
          </td>
        </ng-container>
      
        <!-- Associazione delle colonne alla tabella -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
</div>
<div>
    <table>
        <tr>
            <th>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>SELEZIONA LA DATA</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                      </mat-form-field>
                      
                </div>
            </th>
        </tr>
        <tr>
          <th>
            <mat-form-field>
              <mat-label>SELEZIONA L'ORARIO</mat-label>
              <mat-select [(ngModel)]="orario">
                <mat-option value="11:00">11:00</mat-option>
                <mat-option value="13:00">13:00</mat-option>
                <mat-option value="16:00">16:00</mat-option>
                <mat-option value="18:00">18:00</mat-option>
              </mat-select>
            </mat-form-field>
          </th>
        </tr>
        <tr>
            <th>
                <button mat-raised-button color="warn" (click)="nuovaLezione()">CREA LEZIONE</button>
            </th>
        </tr>
        <tr>
          <th>
            <table mat-table [dataSource]="noPrenotate" id = "lezioniNoPrenotate" class="hidden" >
              <!-- Definizione delle colonne -->
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let noPrenotate"> {{ noPrenotate.data }} </td>
              </ng-container>
              
              <ng-container matColumnDef="allievo">
                <th mat-header-cell *matHeaderCellDef> Allievo </th>
                <td mat-cell *matCellDef="let noPrenotate"> {{ noPrenotate.allievo }} </td>
              </ng-container>
              
              <ng-container matColumnDef="ora">
                <th mat-header-cell *matHeaderCellDef> Ora </th>
                <td mat-cell *matCellDef="let noPrenotate"> {{ noPrenotate.orario }} </td>
              </ng-container>
      
              <ng-container matColumnDef="cancella">
                <th mat-header-cell *matHeaderCellDef> Prenota </th>
                <td mat-cell *matCellDef="let noPrenotate; let i = index">
                <button mat-button (click)="cancellaLezione(noPrenotate, i)"> Cancella Lezione </button>
                </td>
              </ng-container>
            
              <!-- Associazione delle colonne alla tabella -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table> 
          </th>
        </tr>
    </table>
    
</div>
